@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* -------H2--------- */
h2 {
  font-size: 1.5rem;
}

/*------- NAVBAR ----------- */
.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #ffffff;
}

.navbar {
  background-color: darkorange;
}

/*---------FOOTER------------*/
footer {
  background-color: #000000;
  height: 10vh;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
}
.footer-content h2 {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 3 rem;
  color: #ff8c00;
}
.footer-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 3 rem;
  color: #ff8c00;
}
.footer-content p {
  max-width: 500px;
  margin: 10px 10px;
  line-height: 28px;
  font-size: 14px;
  display: flex;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #ffffff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover {
  color: #ff8c00;
}

.footer-bottom {
  background-color: #000000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin: 10px 10px;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/*-------SECCION CONTACTO.HTML----------*/
.contacto {
  padding: 70px;
  height: 80vh;
  width: 100%;
  justify-content: center;
}
.contacto h1 {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.142);
  text-align: center;
  color: white;
  border-radius: 30px;
}

.imgdefondo {
  background-image: url(../img/contacto2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*------Carousel con bootstrap en index------*/
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.801);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h1 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h2 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.801);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption h3 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.801);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption a {
    padding: 10 px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .carousel-caption {
    bottom: 30px;
  }
}
.w-100 {
  height: 100vh;
  object-fit: cover;
}

.autonole {
  color: rgba(255, 140, 0, 0.79);
}

/*----SECCION NOSOTROS.HTML--------*/
.imgnosotros {
  width: 100%;
  height: 80vh;
  padding-bottom: 40px;
  object-fit: contain;
}

.parrafo {
  color: #000000;
  font-style: bold;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  padding-top: 100px;
}

.parrafo2 {
  color: #000000;
  font-style: bold;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.lii::before {
  content: "•";
}

.nole {
  color: darkorange;
  font-weight: bold;
}

.pspan {
  font-weight: bold;
}

/*------SECCION SERVICIOS.HTML--------*/
.h1s {
  font-size: 2rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
}

.contenedor-servicios {
  display: flex;
  padding: 15px;
  gap: 10px;
  justify-content: space-around;
  height: 50vh;
  width: 100%;
}

@media (max-width: 1023px) {
  .contenedor-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 240vh;
  }
  .h1s {
    text-align: center;
  }
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 20px;
  overflow: hidden;
}
.tarjeta__img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.tarjeta__img:hover {
  scale: 1.1;
}
.tarjeta__titulo {
  padding: 15px;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

#multimarca .col-lg-4 {
  padding: 25px;
}

#multimarca img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: all 0.3s ease;
}
#multimarca img:hover {
  scale: 1.1;
}

.spanbold {
  font-weight: bold;
}

/*------SECCION GALERIA.HTML------*/
.galeria__title {
  padding: 15px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.contenedor-galeria {
  width: 100%;
  margin: auto;
  display: flex;
}

.auto__img {
  width: 100%;
}

.auto__columna {
  margin: 5px;
}

.autos .contenedor-galeria {
  display: grid;
}

@media (min-width: 478px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(4, 1fr);
  }
  .contenedor-galeria {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor-galeria {
    width: 1200px;
  }
}
.imgservicios {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.h1servicio {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.pservicio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.pprecio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.imgservicios {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.h1servicio {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.pservicio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.pprecio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.imgservicios {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.h1servicio {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.pservicio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.pprecio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.imgservicios {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.h1servicio {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.pservicio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
}

.pprecio {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 1rem;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
