* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* -------H1y2--------- */
h2 {
  font-size: 1.5rem;
  padding: 10px;
}

/*------- NAVBAR ----------- */
.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #ffffff;
}

/*---------FOOTER------------*/
.footer {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 1, 5rem;
  background-color: #ff8c00;
  text-align: center;
  padding: 15px;
}
.footer i {
  font-size: 2rem;
  color: #ffffff;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}
.footer i:hover {
  font-size: 2.5rem;
  color: #000000;
}

/*-------SECCION CONTACTO.HTML----------*/
.contacto {
  padding: 15px;
  height: 80vh;
  width: 100%;
  justify-content: center;
}

/*------Carousel con bootstrap en index------*/
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption a {
    padding: 10 px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}
.w-100 {
  height: 100vh;
}

/*----SECCION NOSOTROS.HTML--------*/
.imgnosotros {
  width: 100%;
  height: 80vh;
  padding-bottom: 40px;
  object-fit: contain;
}

.parrafo {
  color: #000000;
  font-style: bold;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
  align-items: center;
  padding-top: 50px;
}

.h2_nosotros {
  padding-left: 20px;
}

/*------SECCION SERVICIOS.HTML--------*/
.h1s {
  font-size: 2rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.contenedor-servicios {
  display: flex;
  padding: 15px;
  gap: 10px;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
}

@media (max-width: 1023px) {
  .contenedor-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 240vh;
  }
  .h1s {
    text-align: center;
  }
}
.tarjeta {
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.tarjeta__img {
  width: 100%;
  object-fit: contain;
}
.tarjeta__img:hover {
  width: 400px;
  height: 400px;
}
.tarjeta__titulo {
  padding: 15px;
  font-size: 20px;
}

/*------SECCION GALERIA.HTML------*/
.galeria__title {
  margin-left: 160px;
  font-size: 2rem;
  margin-top: 20px;
}

.contenedor-galeria {
  width: 100%;
  margin: auto;
}

.auto__img {
  width: 100%;
}

.auto__columna {
  margin: 5px;
}

.autos .contenedor-galeria {
  display: grid;
}

@media (min-width: 478px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 728px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .autos .contenedor-galeria {
    grid-template-columns: repeat(4, 1fr);
  }
  .contenedor-galeria {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor-galeria {
    width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
