/*------SECCION SERVICIOS.HTML--------*/

.h1s {
    font-size: 2rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
}

.contenedor-servicios {
    display: flex;
    padding: 15px;
    gap: 10px;
    justify-content: space-around;
    height: 50vh;
    width: 100%;

}



@media(max-width:1023px) {
    .contenedor-servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 240vh;


    }

    .h1s {
        text-align: center;
    }
}


.tarjeta {
    @include dflex(column, space-around, center);
    width: 350px;
    height: 300px;
    
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

    &__img {
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.1;
            
        }
    }

    &__titulo {
        padding: 15px;
        font-size: 1.5rem;
        color: $color-secundario;
        text-align: center;
        
        

    }

}

#seguros .col-lg-4{
    padding: 25px;
}

#seguros img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: all 0.3s ease;

    &:hover{
        scale: 1.1;
    }
}