/*---------FOOTER------------*/

footer {

    background-color: $color-secundario;
    height: 10vh;
    width: 100vw;
    padding-top: 40px;
    color: $color-primario;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: $color-secundario;

    & h2 {
        font-weight: bold;
        text-transform: capitalize;
        line-height: 3 rem;
        color: $color-terciario;
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 3 rem;
        color: $color-terciario;

    }

    & p {
        max-width: 500px;
        margin: 10px 10px;
        line-height: 28px;
        font-size: 14px;
        display: flex;
    }
}



.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

    & li {
        margin: 0 10px;
    }

    & a {
        text-decoration: none;
        color: map-get($redes , "iconos");
    }

    & a i {
        font-size: 1.1rem;
        transition: color .4s ease;
    }

    & a:hover {
        color: $color-terciario;
    }
}


.footer-bottom {
    background-color: $color-secundario;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

    & p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        margin: 10px 10px;

    }

    & span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}