/*-------SECCION CONTACTO.HTML----------*/

.contacto {

    height: 100%;
    width: 100%;
    justify-content: center;


    & h1 {
        font-weight: bold;
        text-align: center;
        color: black;
        margin-top: 15px;
        color: rgb(255, 255, 255);

    }
}

.imgdefondo {
    background-image: url(../img/contacto2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-info {
    font-size: 20px;
    margin-top: 10px;
    color: white;
    line-height: 50px;
    word-spacing: 4px;


}



.formulario {
    padding-top: 20px;

}