/*-------SECCION CONTACTO.HTML----------*/

.contacto {
    padding: 70px;
    height: 80vh;
    width: 100%;
    justify-content: center;

    & h1 {
        font-weight: bold;
        text-align: center;
        color: black;
        margin-top: 15px;
    }
}

.imgdefondo {
    background-image: url(../img/contacto2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.formulario{
    background-color: white;
}

.btn{
    background-color: darkorange;
}